<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>My Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas praesentium nam quos dolore blanditiis nostrum
        tempore molestias esse quasi, placeat dolorem quibusdam nisi vero beatae suscipit ipsum natus ducimus vel?
        Error officia magnam tenetur quae et eum nihil laborum harum itaque aliquid repellendus sed nam reiciendis odio
        cumque ipsam a voluptas quaerat inventore, nostrum eaque architecto voluptatum. Hic, aliquid harum?
        Mollitia id doloribus impedit quisquam provident exercitationem sed aspernatur eveniet. Expedita, sapiente. Ex,
        molestias. Optio, dignissimos repudiandae. Aut unde quod velit voluptatibus, asperiores quos repudiandae
        nesciunt soluta consectetur voluptate ipsum.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam debitis voluptatem ex quis velit! Dicta
        laudantium atque molestias sit in autem. Saepe sit ut voluptatum aliquid aspernatur nesciunt id perferendis?</p>
</body>

</html>